body 
{
    background-color: #a6e79b;
    color: #2c3639;
    font-family: 'Julee', cursive;
    max-width: 1080px; 
    margin: 0 auto; 
    float: none; 
    font-size: 17px;
}

header, footer, h2, h3, figure 
{
    text-align: center;
}
footer
{
    text-decoration: none;
    font-size: 17px;
}
.low_font
{
    font-size: 19px;
}
p{
    font-size: 23px;
}
a 
{
    color: #d93232/*#297e38*/;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
a:hover 
{
    color: #243f92/*#243f92*/;
    text-decoration: overline underline;
}
a:active
{
    color: #297e38/*#243f92*/;
    text-decoration: overline underline;
}
ol.order
{ 
    display: inline-block;
    text-align: left;
}
ul.order
{ 
    display: inline-block;
    text-align: left;
}
div.contain
{
    text-align: center;
}
.cent
{
    text-align: center;
}