body 
{
    background-color: #a6e79b;
    color: #2c3639;
    /*font-family: 'Julee', cursive;*/
    font-family: 'Gentium Book Plus', serif;
    max-width: 1080px; 
    margin: 0 auto; 
    float: none; 
    font-size: 17px;
}
header, footer, h2, h3, figure 
{
    text-align: center;
}
footer
{
    text-decoration: none;
    font-size: 17px;
}
.low_font
{
    font-size: 19px;
}
p{
    font-size: 23px;
    
}
img {
    border: 2px solid #555;
    border-radius: 15%;
  }
a 
{
    color: #d93232/*#297e38*/;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
.liner
{
    line-height: 0.55;
}
a:hover 
{
    color: #243f92/*#243f92*/;
    text-decoration: overline underline;
}
a:active
{
    color: #297e38/*#243f92*/;
    text-decoration: overline underline;
}
ol.order
{ 
    display: inline-block;
    text-align: left;
}
ul.order
{ 
    display: inline-block;
    text-align: left;
}
div.contain
{
    text-align: center;
    background-color: rgb(199, 222, 239);
}
div.backer
{
    background-color: rgb(199, 222, 239);
    /*margin: ; */
    width: 700px;
    margin: auto;
}
div.stacker
{
    width: 750px;
    margin: auto;
}
#img-link {
    text-decoration: none;
    border: none;
/* border-radius: none; */
  }
.accord{
    background-color: rgb(224, 128, 128)/*#9aa0e9*/;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: center;
    outline: none;
    transition: 0.3s;
}
.cap
{
    font-size: 15px;
}
.menu
{
border-bottom-style: solid;
padding-bottom: 2%;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}
.inliner{
    display: inline;
}
form 
{
width: 60vw;
max-width: 500px;
min-width: 300px;
margin: 0 auto;
padding-bottom: 2em;
}

fieldset {
border: none;
padding: 2rem 0;
border-bottom: 3px solid #2d545e;
}

fieldset:last-of-type {
border-bottom: none;
}

label {
display: block;
margin: 0.2rem 0;
}
.label_width {
  width: 300px;
  display: inline-block;
}
input,
textarea,
select {
margin: 10px 0 0 0;
width: 100%;
min-height: 2em;
}
table, th, tr{
margin: 0 auto;
border: 1px solid #2d545e;
border-radius: 10px;

}
input, textarea {
border: 1px solid #555;
}
::placeholder {
color: #FFFDD0;
}
.der {
color: #2d545e;
}
.inline {
width: unset;
margin: 0 0.5em 0 0;
vertical-align: middle;
}
.der {
color: #2d545e;
}
input[type="reset"] {
display: block;
width: 60%;
margin: 1em auto;
height: 2em;
font-size: 1.1rem;
background-color: rgb(199, 222, 239);
border-color: #2d545e;
min-width: 300px;
}
input[type="submit"] {
display: block;
width: 60%;
margin: 1em auto;
height: 2em;
font-size: 1.1rem;
background-color: rgb(199, 222, 239);
border-color: #2d545e;
min-width: 300px;
}
.cent
{
    text-align: center;
}