body 
{
  background-color: /*#ADEBE3*/#F3D653;
  color: /*#393E41*/#6C3BCE;
  font-family: 'Space Mono', monospace;
  /*margin-left: 125px;
  margin-right: 125px;*/
  max-width: 1080px; 
  margin: 0 auto ; 
  float: none ; 
    
  }
header, footer, h2, h3, figure 
{
  text-align: center;

}
footer
{
  text-decoration: none;
}
h3
{
  color: #6C3BCE;
}
.menu
{
  border-bottom-style: solid;
  padding-bottom: 2%;
}
.cent
{
  text-align: center;
}
.noe
{
  text-decoration: none;
}
p
{
  font-size: 18px;
}
a 
{
  color: #CC0A00;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}
a:hover 
{
  color: #2b68ca/*#2C7A2A*/;
  text-decoration: overline underline;
  }
a:active 
{
  color: #CC0A00;
}


#table1
{
  margin-left: auto;
  margin-right: auto;
}
#table2
{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.grid 
{
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 60vh;
  margin: auto;
  width: 35%;
  grid-template-columns: repeat(4, 90px);
  grid-template-rows: minmax(100px, auto) repeat(5, 90px);
  background-color: rgb(181, 125, 220);
  padding-top: 0.05%;
}

.grid>button 
{
  cursor: pointer;
  font-size: 2rem;
  border: 10px solid whitesmoke;
  outline: none;
  border-color: rgb(181, 125, 220);
}
button {
  color: #31393C;
  background-color: #BC9EC1;
  font-size: 16px;
  font-family: 'Space Mono', monospace;
  border: none;
  border-radius: 8px;
  
}
button:hover
{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button:active 
{
  transform: translateY(3px);
}

.other 
{
  grid-column: span 2;
  color: black;
  background-color: #6CD39C;
}

.result 
{
  grid-column: 1 / -1;
  background-color: rgb(181, 125, 220);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.result .previous 
{
  color: black;
  font-size: 1.5rem;
}

.result .present 
{
  color: black;
  font-size: 2.5rem;
}
form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
  }

  fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #6C3BCE;
  }

  fieldset:last-of-type {
  border-bottom: none;
  }

  label {
  display: block;
  margin: 0.5rem 0;
  }

  input,
  textarea,
  select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  }

  input, textarea {
  background-color: #CCAA00;
  border: 1px solid #CCAA00;
  color: #6C3BCE;
  }

  .inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
  }

  input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #F3D653;
  border-color: #6C3BCE;
  min-width: 300px;
  }
  
  input[type="reset"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #F3D653;
  border-color: #6C3BCE;
  min-width: 300px;
  }
/*
@media (min-width: 576px) {
  * {
    background-color: #6CD39C;
    color: #393E41;
  }
}

@media (min-width: 992px) {
  * {
    background-color: rgb(181, 125, 220);
    color: #393E41
  }
}
*/
