body 
{
background-color: /*#F3D653*/#e1b382;
color: /*#6C3BCE*/#2d545e;
font-family: 'Tilt Neon', cursive;
/*font-family: 'Space Mono', monospace;*/
/*margin-left: 125px;
margin-right: 125px;*/
max-width: 1080px; 
margin: 0 auto ; 
float: none ; 
}
header, footer, h2, h3, figure 
{
text-align: center;
}
h4{
  font-size: 17px;
}
footer
{
text-decoration: none;
}
h3
{
color: #2d545e;
}
.menu
{
border-bottom-style: solid;
padding-bottom: 2%;
}
.cent
{
text-align: center;
}
.noe
{
text-decoration: none;
}
p, li, td
{
font-size: 18px;
}
a 
{
color: #CC0A00;
text-align: center;
text-decoration: none;
font-weight: bold;
}
a:hover 
{
color: #19847f/*#2C7A2A*/;
text-decoration: overline underline;
}
a:active 
{
color: #CA2E55;
}
#table1
{
margin-left: auto;
margin-right: auto;
}
#table2
{
width: 60%;
margin-left: auto;
margin-right: auto;
}

.grid 
{
display: grid;
justify-content: center;
align-content: center;
min-height: 60vh;
margin: auto;
width: 35%;
grid-template-columns: repeat(4, 90px);
grid-template-rows: minmax(100px, auto) repeat(5, 90px);
background-color: rgb(181, 125, 220);
padding-top: 0.05%;
}

.grid>button 
{
cursor: pointer;
font-size: 2rem;
border: 10px solid whitesmoke;
outline: none;
border-color: rgb(181, 125, 220);
}
button {
color: #31393C;
background-color: #BC9EC1;
font-size: 16px;
font-family: 'Space Mono', monospace;
border: none;
border-radius: 8px;

}
button:hover
{
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button:active 
{
transform: translateY(3px);
}
.horizontal:after {
content: "";
display: table;
clear: both;
}
.inliner{
display: inline;
}
.pics{
text-align: center;
}
.other 
{
grid-column: span 2;
color: black;
background-color: #6CD39C;
}
.maer{
  margin-left: 20px;
}
.result 
{
grid-column: 1 / -1;
background-color: rgb(181, 125, 220);
display: flex;
align-items: flex-end;
justify-content: space-around;
flex-direction: column;
padding: 10px;
word-wrap: break-word;
word-break: break-all;
}
.result .previous 
{
color: black;
font-size: 1.5rem;
}

.result .present 
{
color: black;
font-size: 2.5rem;
}
ol.order
{ 
display: inline-block;
text-align: left;
}

ul.order
{ 
display: inline-block;
text-align: left;
}
div.contain
{
text-align:center;
}
figure tr:nth-child(3)
{
background-color: #2d545e;
color: #e1b382;
}
figure tr:nth-child(4)
{
background-color: #2d545e;
color: #e1b382;
}
figure tr:nth-child(7)
{
background-color: #2d545e;
color: #e1b382;
}
figure tr:nth-child(8)
{
background-color: #2d545e;
color: #e1b382;
}
figure tr:nth-child(10)
{
background-color: #2d545e;
color: #e1b382;
}
form 
{
width: 60vw;
max-width: 500px;
min-width: 300px;
margin: 0 auto;
padding-bottom: 2em;
}

fieldset {
border: none;
padding: 2rem 0;
border-bottom: 3px solid #2d545e;
}

fieldset:last-of-type {
border-bottom: none;
}

label {
display: block;
margin: 0.5rem 0;
}
.label_width {
  width:300px;
  display: inline-block;
}
input,
textarea,
select {
margin: 10px 0 0 0;
width: 100%;
min-height: 2em;
}
table, th, tr{
margin: 0 auto;
border: 1px solid #2d545e;
border-radius: 10px;

}
input, textarea {
background-color: #4b371a82;
border: 1px solid #9e5900;
color: #FFFDD0;
}
::placeholder {
color: #FFFDD0;
}
.der {
color: #2d545e;
}
.inline {
width: unset;
margin: 0 0.5em 0 0;
vertical-align: middle;
}
.calc {
color: black;
background-color: #FF621F;
font-size: 2rem;
border: 10px solid whitesmoke;
border-radius: 0px;
}
div.justifier
{
text-align:justify/left/right/center;
text-justify:values;
}
input[type="submit"] {
display: block;
width: 60%;
margin: 1em auto;
height: 2em;
font-size: 1.1rem;
background-color: #e1b382;
border-color: #2d545e;
min-width: 300px;
}
#img-link {
  text-decoration: none;
}
input[type="reset"] {
display: block;
width: 60%;
margin: 1em auto;
height: 2em;
font-size: 1.1rem;
background-color: #e1b382;
border-color: #2d545e;
min-width: 300px;
}
.pur{
color: #2d545e;
}
div.backer
{
    background-color: rgb(199, 222, 239);
    /*margin: ; */
    width: 800px;
    margin: auto;
}
div.stacker
{
    width: 1000px;
    margin: auto;
}
.curver
{
border-bottom-style: solid;
padding-bottom: 2%;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}
/*
@media (min-width: 576px) {
* {
  background-color: #6CD39C;
  color: #393E41;
}
}

@media (min-width: 992px) {
* {
  background-color: rgb(181, 125, 220);
  color: #393E41
}
}
*/

/* (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body 
  {
  background-color: #b4da72;
  font-family: 'itim', cursive;
  }
}
