body {
    
    background-color: /*#ADEBE3*/#F3D653;
    color: /*#393E41*/#6C3BCE;
    font-family: 'Space Mono', monospace;
    /*margin-left: 125px;
    margin-right: 125px;*/
    max-width: 1080px; 
	  margin: 0 auto ; 
	  float: none ; 
    
  }
header, footer, h2, h3, figure {
  text-align: center;

}
h3
{
  color: #7572AC;
}
a {
    color: #A8201A;
    text-align: center;
    text-decoration: none;
  }

  a:visited {
    color: #CC0A00;
  }

  a:hover {
    color: #2C7A2A;
  }

  a:active {
    color: #A8201A;
  }

  #table1{
  margin-left: auto;
  margin-right: auto;
}
  #table2{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

