body {
    
    background-color: #F3D653/*#F2D140*//*#e6fdf8*/;
    color: /*#441B5F*/#6C3BCE;
    font-family: 'Inconsolata', monospace;
  }
  a {
    color: #6C3BCE;
  }

  a:visited {
    color: #6C3BCE;
  }

  a:hover {
    color: #6900CC;
  }

  a:active {
    color: #6900CC;
  }